DB_URL=postgresql+psycopg2://postgres:password@localhost:5432/contacts_db
SECRET_KEY=super_secret_key_change_me_in_production
ALGORITHM=HS256
REDIS_URL=redis://localhost:6379/0

CLD_NAME=your_cloudinary_name
CLD_API_KEY=your_api_key
CLD_API_SECRET=your_api_secret

MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_FROM=your_email@gmail.com
MAIL_PORT=465
MAIL_SERVER=smtp.gmail.com